@import "reset";

$color: #ef7f04;
$dark: #3b3a63;
$white: #ffffff;
$text: #2f2f51;

body {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  padding: 17px 0;

  &-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 0 44px;
    font-size: 16px;
  }

  &__button {
    display: flex;
    align-items: center;

    button {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 40px;
      border-radius: 5px;
      border: none;
    }

    &-request {
      background-color: $color;
      font-size: 13px;
      color: $white;
      width: 158px;
      margin-right: 15px;
    }

    &-check {
      background-color: $dark;
      font-size: 13px;
      color: $white;
      width: 160px;
    }
  }
}

.container {
  display: flex;
  width: 1200px;
  margin: auto;
  justify-content: space-between;
}

.services-container {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.services {
  &-title {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 67px auto 48px auto;
    font-size: 24px;
    font-weight: 700;
  }
}

.card-l1,
.card-l2,
.card-r2,
.card-r1 {
  max-width: 543px;
  width: 100%;
  height: 218px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.card-l1 {
  padding: 50px 0 0 52px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/header/img/card-l1-background.png);

  &-img {
    display: flex;
    align-items: center;
    margin-bottom: 31px;
  }

  &-title {
    width: 211px;
    font-size: 24px;
    font-weight: 700;
    margin-left: 23px;
  }

  &-description {
    width: 303px;
    font-size: 16px;
  }
}

.card-l2 {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/header/img/card-l2-background.png);

  padding: 50px 0 0 52px;
  &-img {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
  }

  &-title {
    width: 192px;
    font-size: 24px;
    font-weight: 700;
    margin-left: 26px;
  }

  &-description {
    width: 262px;
    font-size: 16px;
  }
}

.card-r1 {
  padding: 50px 0 0 52px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/header/img/card-r1-background.png);

  &-img {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
  }
  &-title {
    width: 254px;
    font-size: 24px;
    font-weight: 700;
    margin-left: 27px;
  }

  &-description {
    width: 303px;
    font-size: 16px;
  }
}

.card-r2 {
  padding: 50px 0 0 52px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/header/img/card-r2-background.png);
  &-img {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
  }
  &-title {
    width: 299px;
    font-size: 24px;
    font-weight: 700;
    margin-left: 25px;
  }

  &-description {
    width: 332px;
    font-size: 16px;
  }
}
